.container {
  width: 1240px;
  margin: 0 auto;
}

input, input:focus {
  outline: none;
}

.flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
      grid-template-areas: "todo task";
}

.flex h2 {
  font-weight: 600;
  font-size: 32px;
  background: #1e9600;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#e91e63), to(#5d02ff));
  background: linear-gradient(360deg, #e91e63, #5d02ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 10px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar ul {
  list-style-type: none;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar li {
  text-transform: uppercase;
}

.input-todo {
  height: 40px;
  color: #ffffff;
  border: none;
  border: 1px solid #2196f3;
  border-radius: 5px;
  background-color: transparent;
  width: 100%;
}

.input-todo::-webkit-input-placeholder {
  color: #ffffff;
}

.input-todo:-ms-input-placeholder {
  color: #ffffff;
}

.input-todo::-ms-input-placeholder {
  color: #ffffff;
}

.input-todo::placeholder {
  color: #ffffff;
}

.spinner {
  margin: 20px 0;
}

.todoList {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: todo;
  width: 100%;
}

.todoList-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #2196f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;
  border-radius: 5px;
}

.todoList-elements-item {
  color: #2196f3;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.todoList-elements-item:hover {
  color: #21f3d0;
}

.todoList-elements-item:visited {
  color: #2196f3;
}

.todoList-elements-item.active {
  color: #21f3d0;
}

.todoList-elements-delete {
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
  margin-right: 5px;
  opacity: 0.3;
}

.todoList-elements-delete:hover {
  opacity: 1;
}

.listOfElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.button-block a + a {
  margin-top: 10px;
}

.button-block a {
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-block a:hover {
  color: #255784;
  background: #2196f3;
  -webkit-box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
          box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.button-block a span {
  position: absolute;
  display: block;
}

.button-block a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#2196f3));
  background: linear-gradient(90deg, transparent, #2196f3);
}

.button-block a:hover span:nth-child(1) {
  left: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.button-block a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#2196f3));
  background: linear-gradient(270deg, transparent, #2196f3);
}

.button-block a:hover span:nth-child(3) {
  left: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.button-block a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#2196f3));
  background: linear-gradient(180deg, transparent, #2196f3);
}

.button-block a:hover span:nth-child(2) {
  top: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.button-block a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#2196f3));
  background: linear-gradient(360deg, transparent, #2196f3);
}

.button-block a:hover span:nth-child(4) {
  bottom: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
/*# sourceMappingURL=TodoList.css.map */